
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  font:calc(10vh);
  font-family: "Quicksand", sans-serif;
}
.ol-overlaycontainer-stopevent{
  display: none;
}
body{
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  /* font-family: "Open Sans",sans-serif; */
  font-size: .9375rem;
  font-weight: 300;
  line-height: 1.9;
  color: #757575;
  text-align: left;
  background-color: #fff;
}
section{
  display: block;
}